{{!-- The following component displays Ember's default welcome message. --}}
{{!-- <WelcomePage /> --}}
{{!-- <h3 id="title">Welcome to Ember</h3> --}}

{{!-- Feel free to remove this! --}}

{{outlet}}
